.*
{
margin:0;
padding:0px;
box-sizing:border-box;

}
.back
{
height:1000px;
background-color:#e91e630f;
width:100%;
}
.box
{
 max-width:40%;
height:auto;
 border-radius:10px;
 margin: 20px auto;
 padding: 0 5px;
 background-color:white;
 grid-template-columns: 1fr 1fr;
 display:grid;
}
#imagebox
{
 border-radius:10px;
 display:inherit;
 width:100%;
}
.img
{
 border-radius:10px;
 display:inherit;
 max-width:100%;

}
.con
{
justify-content: space-between;
flex-direction: column;
 display: flex;
}
#heading
{
font-family:'Montserrat';
font-size:25px;
}
#color
{
color:#9e9e9eab;
}
#color1
{
color:#009688;
font-size:30px;
}

